The cloudadvisory is more about AWS
For more information contact Nagalakshmi
.site-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
